@font-face { font-family: "HelveticaLT25";
    src: url('font/Helvetica_LT_25_Ultra_Light.ttf'), url('font/Helvetica_LT_25_Ultra_Light.woff'), url('font/Helvetica_LT_25_Ultra_Light.eot') ;
}
@font-face { font-family: "HelveticaNeue-Black";
    src: url('font/HelveticaNeue-Black.ttf'), url('font/HelveticaNeue-Black.woff'), url('font/HelveticaNeue-Black.eot') ;
}

@font-face { font-family: "HelveticaNeue-Light";
    src: url('font/HelveticaNeue-Light.ttf'), url('font/HelveticaNeue-Light.woff'), url('font/HelveticaNeue-Light.eot') ;
}

body{
  font-family: "HelveticaNeue-Light", Arial;
}
p{
  font-family: "HelveticaNeue-Light", Arial;
  font-size: 17px;
  text-align: justify;
}

.h1, .h2, .h3,  .h5, .h6, h1, h2, h3, h5, h6 {
    color: inherit;
    font-family:"HelveticaNeue-Black", Arial ;
    text-align: left;
}
.h4 , h4{
   font-family: "HelveticaNeue-Light";
   text-align: left;
}
input{
  font-family: "HelveticaNeue-Light";
}
.titulo-cafe{
   color: #FF7D23;
  font-weight: 500;
}

.titulo-delgado{
    font-family:"HelveticaLT25";
    color: #000;
    font-weight: bold;
}
.titulo-delgado-blanco{
  font-family:"HelveticaLT25";
  color: #fff;
  font-weight: bold;
}
.bg-color{
	background-color: #F58220;
	color: #fff;
}
.marked-list li a {
  font-family: "HelveticaNeue-Light", Arial;
  font-size: 18px;
}
.subtitulos{
  font-weight: bold;
}

.fondo-tipos-masas{
   background: url("../images/marco_tiposdemasa.png") no-repeat center top;
   background-size: 78% 100%;
   margin-top: 12px;
}
.margenes-marco{
  padding: 0 160px 83px;

}
.frace-informacion{
  background: #FF7D23;
  color: #fff;
}
.frace-informacion h5{
   text-align: center;
   font-family: "HelveticaNeue-Light", Arial;
   font-size: 24px;
   padding: 20px 0px;
}
.margenes-marco h3{
  padding-top: 80px;
  text-align: center;
}
.margenes-marco p{
  margin-top:20px;
}
.padding-0{
  padding: 0px;
}
.background-plomo{
  background: #EDEDEE;
}
.inline-list li a{
   color: #fff;
}
.padding-alto{
  padding: 10px 0px;
}
.content-blog{
  padding-top: 120px;
  background: url("../images/marco_blog.png") no-repeat center 60px;
  //background-size: 100%;
  overflow: hidden;

}
.content-item {
   font-size: 15px;
   text-align: justify;
}
.content-item h1{
   font-size: 24px;
}
.block-blog {
   padding-bottom: 20px;
}


.subtitulos{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 20pt;
	color:#F58220;
}
.textos{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 17pt;

}
.fondo-direccion{
   background: url("../images/fondo_blog.png");
   //background-size: 100%;
   color: #fff;
   font-size: 17pt;
   font-family: "HelveticaNeue-Light", Arial;
}

.contact-info{
  padding-top: 20px;
  padding-bottom: 40px;
}


.bg-contrast-variant-1 {
    background: url("../images/fondo_cursos.png");
}
.slider_fecha{
	width:33px;
	height:33px;
	position: absolute;
	margin:0px 10px;
    top: 50%;
}
.fecha_right{
	background:url("../images/flechas_slider.png") no-repeat -47px 0px;
	right:0px;
}
.fecha_left{
	background:url("../images/flechas_slider.png") no-repeat;
	left:0px;
}

.itemBlogView h1{
   font-family: "HelveticaNeue-Light", Arial;
   font-size: 20px;
   margin-top:0px
}
.modal-bodys {
    position: relative;
    padding: 0px 10px 600px 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal-body ul{
   margin-left: 10px;
}
