<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VapEventos</title>
	  <link rel="icon" type="image/png" href="images/web_icon.png" />
	 <!-- Librerias CSS-->
	 <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	 <!-- Carrucel slick -->
	 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
	 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
	 <!-- Theme Web -->
	 <link href="css/theme.css" rel="stylesheet">
	 <link href="css/style.css" rel="stylesheet">

	 <!-- Librerias JSS MAPA GOOGLE-->
	 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLrN4i5DcwJJpkBXh3P1B3PySkK5KIbR0"></script>

</head>

<body ng-controller="DataLandingController as dl">
	<div class="page">

		<header class="page-header" style=" margin: 0px; min-height:0px !important; padding:0px !important">
				<!-- Imagen con logotipo de la empresa -->
				<img id="logotipo" ng-src="{{dl.logo}}" alt="" width="100%">
		</header>
		<!-- Formulario de  contactenos con subida de imagenes-->
		<section id="tips_masas" class="bg-image well-xs text-center ">
				<div class="container" >
					<div class="col-md-12" ng-controller="viewFromContactenosController as vfc">
								 <h4>PIDE TU COTIZACIÓN AQUÍ</h4>
								<form class="rd-mailform"  id="formulario_contacto" >
									<fieldset>
										<div class="col-md-4">
											<label data-add-placeholder="" class="mfInput">
											<input class="text-center" ng-model="vfc.formulario.nombre" type="text"  required="required" placeholder="Nombre"  >

											<label data-add-placeholder="" class="mfInput">
											<input class="text-center" ng-model="vfc.formulario.ciudad"  type="text" equired="required"  placeholder="Ciudad" >

											<label data-add-placeholder="" class="mfInput">
											<input class="text-center" ng-model="vfc.formulario.email" type="text" equired="required" placeholder="Email">

											<label class="btn btn-warning ">
													adjuntar archivo <input type="file" style="display: none;">
											</label>

										</div>
										<div class="col-md-2">

										</div>
										<div class="col-md-4">
												<p style="font-size:15pt">Mensaje</p>
												<label data-add-placeholder="" class="mfInput">
												<textarea placeholder="Mensaje" ng-model="vfc.formulario.mensaje"></textarea>
												<div class="mfControls mfControls-block">
													<button class="btn btn-md btn-secondary" type="button" ng-click="vfc.submitContacto()" > <i class="fa fa-spinner fa-pulse fa-1x fa-fw" ng-show="vfc.activar"></i>Enviar!</button>
												</div>
										</div>

									</fieldset>
								</form>
						</div>
				</div>
			</div>
		</section>
		<!-- End Formulario de  contactenos con subida de imagenes -->

		<!-- Bakery School  Reposteria Creativa quienes somos -->
		<section ng-controller="ViewContentController as vct" ng-bind-html="vct.paginas[1].field_descripcion.und[0].value">

		</section>
		<!-- End Bakery School  Reposteria Creativa quienes somos -->

		<!-- CALIDAD, & PROFESIONALISMO BUENOS PRECIOS!. -->
		<section ng-controller="ViewContentController as vct" ng-bind-html="vct.paginas[6].field_descripcion.und[0].value" style="background-color:#000">

		</section>

		<!-- End CALIDAD, & PROFESIONALISMO BUENOS PRECIOS!. -->

		<!-- Seccion cursos de Resposter puede tomar -->
		<section class="bg-contrast-variant-1" ng-controller="viewFromContactenosController as vfc">
				<div class="row">

									<div class="col-md-preffix-2 col-md-10">
										<br/>
										<br/>
										<br/>
											<div style="padding: 50px 0px;" class="wow fadeInLeft">
												<img src="images/titulo_bakery.png" alt="" class="img-responsive" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: none;" >
											</div>
									</div>

									<div class="col-md-preffix-2 col-md-10">
										<h3 class="inset-1 wow fadeInLeft " style="visibility: visible; animation-name: none; text-align: center"><span class="titulo-cafe">CURSOS </span> <span class="titulo-cafe">DISPONIBLES</span>
										</h3>
									</div>
						</div>
						<div class="row">
							<div class="col-md-preffix-2 col-md-4 col-xs-5">
								<div class="decor-wrap wow fadeInLeft">
									<img src="images/cursos_expres.png" alt="" class="wow fadeIn img-responsive" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: none;" >
								</div>
							</div>
							<div class="col-xs-7 col-md-preffix-1 col-md-4 col-md-middle offset-2">
								<h5 class="wow fadeInUp subtitulos" style="visibility: visible; animation-name: none; padding-bottom: 12px">CURSOS EXPRESS </h5>
								<span class="padding-alto" style="font-size: 19px; font-family: HelveticaNeue-Light, Arial;     font-weight: 600;     letter-spacing: 0.05em;">Haz click en el curso que desees para más información</span>
								<ul class="marked-list textos">
									<li class="wow fadeInRight " data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: none;">
									<a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('CUPCAKES')">CUPCAKES</br>
									Masas, cremas, fondant y
									decoración</a></li>
									<li class="wow fadeInRight " data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('BOCADITOS DE SAL Y DULCE ')">BOCADITOS DE SAL Y DULCE </br></a></li>
									<li class="wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('TORTAS MIXTAS')">TORTAS MIXTAS
									Masas, fondant y decoración</a></li>
									<li class="wow fadeInRight" data-wow-delay=".55s" style="visibility: visible; animation-delay: 0.55s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('TORTAS MOJADAS')">TORTAS MOJADAS </br>
									Masas y decoración</a></li>
									<li class="wow fadeInRight" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('PIES Y TARTALETAS')">PIES Y TARTALETAS </br>
									Masas y decoración</a></li>
									<li class="wow fadeInRight" data-wow-delay=".65s" style="visibility: visible; animation-delay: 0.65s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('MUFFINS DE SAL Y DULCE ')">MUFFINS DE SAL Y DULCE </br>
									Masas y decoración</a></li>
									<li class="wow fadeInRight" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('MINI TORTAS')">MINI TORTAS </br>
									Masas y decoración con fondant</a></li>
									<li class="wow fadeInRight" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('POP CAKES')">POP CAKES </br>
									Masas, decoración con fondant
									chocolate blanco y negro </a></li>
									<li class="wow fadeInRight" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('GALLETERÌA ')" >GALLETERÌA </br>
									Masas, glassé, fondant y
									decoración</a></li>
									<li class="wow fadeInRight" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('ARREGLOS FRUTALES')" >ARREGLOS FRUTALES </br>
									Decoración y montaje de frutas
									Coloración de chocolate</a></li>
								</ul>
							</div>

						</div>
						<div class="row row-xs-center" style="padding: 10px 0px;">
							<div class=" col-md-6 col-md-push-2 col-xs-5">
								<div class="decor-wrap wow fadeInLeft">
									<img src="images/cursos_permanentes.png" class="img-responsive">

								</div>
							</div>
							<div class="col-xs-7  col-md-3 col-md-push-0 col-md-middle offset-2">
								<h5 class="wow fadeInUp subtitulos" style="visibility: visible; animation-name: none;">CURSOS CONTINUOS</h5>

								<ul class="marked-list">
									<li class="wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('DECORADOR REPOSTERO')">DECORADOR REPOSTERO
									16 clases y 2 módulos
									(básico y avanzado)</a></li>
									<li class="wow fadeInLeft" data-wow-delay=".45s" style="visibility: visible; animation-delay: 0.45s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('PASTELERÍA')">PASTELERÍA
									10 clases (aprenden un sinfín
									de masas para tortas)</a></li>
									<li class="wow fadeInLeft" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: none;"><a href="javascript:void(0);" ng-click="vfc.popupFormularioCursos('PANADERÍA')">PANADERÍA
									2 módulos (básico y avanzado)</a></li>

								</ul>
							</div>
						</div>
		</section>
		<!-- End Seccion cursos de Resposter puede tomar -->

		<!-- Tipos de masas disponibles para pedidos de tortas -->
		<section  ng-controller="ViewContentController as vct" ng-bind-html="vct.paginas[3].field_descripcion.und[0].value">

		</section>
		<!-- End Tipos de masas disponibles para pedidos de tortas -->
		<!-- Datos -->
		<!-- Seccion Galeria de imagenes animacion de carrucel -->
		<section style="background:#f58220;" ng-controller="ListImagesController as lti">
			<slick class="slider" settings="lti.slickConfig " ng-if="lti.numberLoaded" dots="true">
						<img ng-src="{{lti.url_galeria_p   + slide.filename}}" ng-repeat="slide in lti.slides">
			</slick>
		</section>
		<!--End Seccion Galeria de imagenes animacion de carrucel -->
		<!-- Session de Direccion y listado de blog -->
		<section >
			<div class="container-fluid fondo-direccion padding-0">
					<div class="col-md-3 col-md-offset-1 col-xs-3">
					<h5 style ="padding-top: 80px">Contáctanos</h5>
							<div ng-controller="ViewContentController as vct" ng-bind-html="vct.paginas[5].field_descripcion.und[0].value">

							</div>
					</div>
					<div class="col-md-6 col-md-offset-1 content-blog"  ng-controller="listBlogController as lb">
							<div class="col-md-12 block-blog" ng-repeat="item in lb.listBlog">
									<div class="col-xs-8 col-md-8 content-item">
										<h1>{{item.title}}</h1>
										<div>
											{{item.field_resumen.und[0].value}}
										</div>
										<button type="button" name="button" ng-click="lb.viewItemBlog(item)">Leer más...</button>
									</div>
									<div class="col-xs-4 col-md-4">
										<img ng-src="{{lb.url_imagen_p + item.field_logo.und[0].filename}}" class="img-rounded img-responsive">
									</div>

							</div>
					</div>
			</div>

		</section>
		<!--End Session de Direccion y listado de blog -->



		<!-- Seccion donde colocamos el mapa con googlemap-->
		<section class="rd-google-map" style="height: 300px">
				 <!-- Colocamos mapa de google map -->
				 <div id="map" style="height: 100%"></div>

		</section>
		<!-- End Seccion donde colocamos el mapa con googlemap-->

		<!-- Seccion del pie de pagina contiene el copyright y impulsado por Runa Sapiens -->
			<footer class="page-footer text-center" style="background:#555">
					<div class="container">
							<p class="copyright">
								<p style="color:#fff; text-align:center ">
									 Copyright © 2016 - Todos los derechos reservados.
										<br>
										<span style="color:#ffad56">Impulsado por Runa Sapiens 2016.</span>
								</p>
							</p>
					</div>
			</footer>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	 <!-- Librerias de aplicacion angular  -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.js"></script>
	 <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	<script src="js/google-mapp.js"></script>
	<script src="js/bootbox/bootbox.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
	<script src="js/slick/angular-slick.js"></script>

	<script src="app/app.module.js"></script>
	<script src="app/app.config.js"></script>
	<script src="app/core/data-landing.controller.js"></script>
	<script src="app/core/data-landing.service.js"></script>
	<script src="app/contenido/view-content.controller.js"></script>
	<script src="app/contenido/view-content.service.js"></script>
	<script src="app/galeria/list-images.controller.js"></script>
	<script src="app/galeria/list-images.service.js"></script>
	<script src="app/blog/listBlog.controller.js"></script>
	<script src="app/blog/listBlog.service.js"></script>
	<script src="app/blog/viewItemBlog.controller.js"></script>
	<script src="app/formularios/view-from-contactenos.controller.js"></script>
	<script src="app/formularios/viewFromContactoPopup.controller.js"></script>
	<script src="app/formularios/view-from-contactenos.service.js"></script>
</body>
</html>
